{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "html", "@emotion"],
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ]
}
